/*
neuMenuItem
*/
#neuMenuItem > .label{
    -fx-graphic: url("icons/New24.gif");
}
#neuMenuItem .accelerator-text{
    -fx-graphic: none;
}

/*
ladenMenuItem
*/
#ladenMenuItem > .label{
    -fx-graphic:  url("icons/Load24.gif");
}

#ladenMenuItem .accelerator-text{
    -fx-graphic: none;
}

/*
schrittMenuItem
*/
#schrittMenuItem > .label{
    -fx-graphic:  url("icons/Step24.gif");
}

#schrittMenuItem .accelerator-text{
    -fx-graphic: none;
}

/*
startMenuItem
*/
#startMenuItem > .label{
    -fx-graphic:  url("icons/Start24.gif");
}

#startMenuItem .accelerator-text{
    -fx-graphic: none;
}

/*
stopMenuItem
*/
#stopMenuItem > .label{
      -fx-graphic:  url("icons/Stop24.gif");
}

#stopMenuItem .accelerator-text{
    -fx-graphic: none;
}
